<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
        {% if function('is_front_page') %}
            {{ bloginfo('name') }} | {{ bloginfo('description') }}
        {% else %}
            {{ function('wp_title', '') }} | {{ bloginfo('name') }}
        {% endif %}
    </title>

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,400italic,700,300italic' rel='stylesheet' type='text/css'>

    {{ wp_head }}

</head>
<body {{ function('body_class') }}>

    <div class="navigation">
        <div class="close">
            <div class="bubble_close bubble_red bubble_small"></div>
        </div>
        <div class="logo">
            <a href="{{ bloginfo('url') }}" title="{{ bloginfo('title') }}"><span class="icon-m"></span></a>
        </div>
        <ul class="nav">
            <li class="about"><a href="{{ bloginfo('url') }}/about/">About</a></li>
            {# <li class="articles"><a href="{{ bloginfo('url') }}/articles">Articles</a></li> #}
            <li class="contact"><a href="{{ bloginfo('url') }}/contact/">Contact</a></li>
            {# <li class="twitter"><a href="http://www.twitter.com/meshores" target="_blank">Twitter</a></li> #}
        </ul>
        <div class="copyright">
            &copy; {{ 'now'|date('Y') }} Michael Shores
        </div>
    </div>


    <div id="main">

        <div class="header">
            <div class="header_title">
                <div class="text">
                    <a href="{{ bloginfo('url') }}" title="{{ bloginfo('title') }}: Home"><span>Michael</span> Shores</a>
                </div>
            </div>
            <a id="nav_toggle" href="#">
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>


        {% block content %}{% endblock %}


    </div><!-- #main -->

    <footer></footer>

    <script type="text/javascript">
        jQuery(document).ready(function(){
            var $navigation = jQuery('.navigation');

            jQuery('#nav_toggle').on('click', function(evnt){
                evnt.preventDefault();
                toggle_nav($navigation, 'open');
            });
            jQuery('.navigation .close').on('click', function(evnt){
                evnt.preventDefault();
                toggle_nav($navigation, 'close');
            });

            var navShowDebounce = _.debounce(function($this){
                if( $this.outerWidth() < 781  ){
                    $navigation.removeClass('open').addClass('closed')
                    $navigation.css('left', '-140px');
                } else {
                    $navigation.removeClass('closed').addClass('open')
                    $navigation.css('left', '0px');
                }
            });

            jQuery(window).resize(function(){
                $this = jQuery(this);
                navShowDebounce($this);
            });
        });
        function toggle_nav($navigation, direction){
            if( direction == 'open' ){
                var left_val = 0;
                $navigation.removeClass('closed').addClass('open');
            } else {
                var left_val = '-140px';
                $navigation.removeClass('open').addClass('closed');
            }
            $navigation.velocity(
                {
                    left: left_val
                },
                {
                    duration: 300,
                    easing: 'easeOutQuart',
                }
            );
        }
    </script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-36217856-1', 'auto');
      ga('send', 'pageview');

    </script>

    {{ wp_footer }}

</body>
</html>